.header-nav{
    align-items: center;
    background: $dark-blue;
    display: flex;
    justify-content: space-between;
    padding: $l-size; 
    .header__title { 
        color: white;
    }
    button { 
        height: 50px;
        width: 100px;
        background-color: $red;
        border: 0; 
        color: white; 
        font-weight: bold;
        border-radius: 5px;

    }
}

.summary-box { 
    background: $gray;
    margin-bottom: 30px;
    padding: $l-size; 
    p { 
        font-size: 3rem;
        font-weight: lighter;
        span { 
            font-weight: bold;
        }

    }
    .add-btn { 
        background-color: $green;
        border: 0;
        padding: 20px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
}

.filter-box { 
    display: flex;
    flex-direction: column;
    margin-bottom: $l-size;
    margin-left: $l-size;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-right: $l-size;

    }
    .filter-box_item {
        margin-right: $l-size;
        margin-bottom: $s-size;
        
    }
}

.date-input { 
    @extend .text-input 
}

.text-input { 
    height: 50px;
    padding: $s-size; 
    font-weight: 400;
}
