// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$blue: #448AFF;
$red: #DD2C00; 
$dark-blue: #2962FF; 
$gray: #FAFAFA; 
$green: #00E676; 